.searchBar {
  display: flex;
  justify-content: center;
  align-self: center;
  border: 1px solid black;
  padding: 10px;
  margin: 20px;
  width: 300px;
}

.searchBar label {
  margin-right: 10px;
}
